<div class="page-header">
  <h1><a href="{{ blog.url }}">{{ blog.title }}</a></h1>
</div>

{% include 'article-item' %}

{% if article.comments_enabled? %}

  <div id="comments" class="comments-wrap">

    <div class="comments-read">

      <!-- Section title -->
      <h4 class="title">
        {% capture dynamic_comment_count %}
          {% if comment and comment.created_at %}
            {{ article.comments_count | plus: 1 }}
          {% else %}
            {{ article.comments_count }}
          {% endif %}
        {% endcapture %}

        Comments on this post <span class="count">&nbsp;({{ dynamic_comment_count }})</span>
      </h4>

      {% if article.comments_count > 0 or comment and comment.created_at %}
        <div class="comments-list">

          <!-- Temporary comment on initial submit -->
          {% if comment and comment.created_at %}
          <div class="comment" id="comment-{{ comment.id }}">
            <h5>{{ comment.author }} says:</h5>
            <div class="comment-body rte">{{ comment.content }}</div>
            <div class="meta">
              <a href="{{ comment.url }}" class="date">{{ comment.created_at | date: "%b %d, %Y" }}</a>
            </div>
          </div>
          {% endif %}

          <!-- List of comments -->
          {% for comment in article.comments %}
          <div class="comment {% include 'for-looper' %}" id="comment-{{ comment.id }}">
            <h5>{{ comment.author }} says:</h5>
            <div class="comment-body rte">{{ comment.content }}</div>
            <div class="meta">
              <a href="{{ comment.url }}" class="date">{{ comment.created_at | date: "%b %d, %Y" }}</a>
            </div>
          </div>
          {% endfor %}

        </div>
      {% endif %}

    </div>

    <div class="comments-submit">

      <!-- Section title -->
      <h5 class="title">Leave a comment</h5>

      {% form article %}

        {% if form.errors %}
        <div>
          <p><span class="error">Oops, sorry.</span> We were unable to submit your inquiry because it contained {{ form.errors | size | pluralize: 'an error', 'a few errors' }}. Please correct the highlighted {{ form.errors | size | pluralize: 'field', 'fields' }} and submit again.</p>
        </div>
        {% endif %}

        <div class="input-wrapper author">
          <label>Name</label>
          <input type="text" placeholder="Name" value="{{ form.author }}" name="comment[author]" class="field {% if form.errors contains "author" %}error{% endif %}">
        </div>

        <div class="input-wrapper email">
          <label>Email</label>
          <input type="email" placeholder="your@email.com" value="{{ form.email }}" name="comment[email]" class="field {% if form.errors contains "email" %}error{% endif %}">
        </div>

        <div class="input-wrapper body">
          <label>Message</label>
          <textarea name="comment[body]" class="field {% if form.errors contains "body" %}error{% endif %}">{{ form.body }}</textarea>
        </div>

        <div class="input-wrapper">
          <input type="submit" value="Submit">
        </div>

      {% endform %}
    </div>

  </div>

{% endif %}


{% if blog.previous_article or blog.next_article %}
<div class="post-pagination">

  {% if blog.previous_article %}
    <a href="{{ blog.previous_article }}" class="newer-post button secondary"><span>&#57361;</span> Newer Post</a>
  {% endif %}

  {% if blog.next_article %}
    <a href="{{ blog.next_article }}" class="older-post button secondary">Older Post <span>&#57360;</span></a>
  {% endif %}

</div>
{% endif %}