<div class="page-header">
  <h1>Account</h1>
</div>

<div class="account-wrapper">

  <div class="account-content">

    <div class="account-details">

      <h5 class="name">{{ customer.name }}</h5>

      <p><a href="mailto:{{ customer.email }}">{{ customer.email }}</a></p>

      {% if customer.default_address != nil %}
        <div class="account-address">
          <span class="address">{{ customer.default_address.street }}</span>
          <span class="city">
            {{ customer.default_address.city }}{% if customer.default_address.province.size > 0 %}, {{ customer.default_address.province }}{% endif %}</span>
          <span class="country">{{ customer.default_address.country }}{% if customer.default_address.zip.size > 0 %}, {{ customer.default_address.zip }}{% endif %}</span>
        </div>
      {% endif %}

      <p><a class="view-addresses" href="/account/addresses">View addresses</a></p>

    </div>

    <div class="order-history">

      <h5>Order History</h5>

      <table cellspacing="0">
        <thead>
          <tr>
            <th class="order">Order</th>
            <th>Payment</th>
            <th>Filled?</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          {% if customer.orders.size > 0 %}
            {% for order in customer.orders %}
            <tr class="{% if order.cancelled %}cancelled_order{% endif %}">
              <td class="order">{{ order.name | link_to: order.customer_url }} &mdash; {{ order.created_at | date: "%b %d, %Y" }}</td>
              <td class="authorization">{{ order.financial_status | capitalize }}</td>
              <td class="fulfillment">{{ order.fulfillment_status | capitalize }}</td>
              <td class="total">{{ order.total_price | money }}</td>
            </tr>
            {% endfor %}
          {% else %}
            <tr class="no-orders">
              <td colspan="4">You haven't placed any orders yet.</td>
            </tr>
          {% endif %}
        </tbody>
      </table>

    </div>

    <div class="mobile-logout">
      {{ "Log out" | customer_logout_link }}
    </div>

  </div>

</div>