{% assign moduleCount = 0 %}

{% if settings.display-contact-module %}
  {% assign moduleCount =  moduleCount | plus: 1 %}
{% endif %}
{% if linklists.footer.links.size > 0 %}
  {% assign moduleCount =  moduleCount | plus: 1 %}
{% endif %}
{% if settings.display-social-module %}
  {% assign moduleCount =  moduleCount | plus: 1 %}
{% endif %}

<div class="footer-wrapper {% if settings.footer-no-border %}no-border{% endif %} module-count-{{ moduleCount }}">

  <footer class="main-footer">

    {% if settings.display-contact-module %}
    <div class="contact footer-module">
      <h4>{{ shop.name }}</h4>

      {% if settings.contact-email.size > 0 %}
      <p><a href="mailto:{{ settings.contact-email }}">{{ settings.contact-email }}</a></p>
      {% endif %}
    </div>
    {% endif %}

   {% if linklists.footer.links.size > 0 %}
    <div class="links footer-module">
      <ul>
        {% for link in linklists.footer.links %}

          {% assign middleFound = false %}
          {% assign oddIndex    = forloop.rindex0 | plus: 1 %}

          <li>{{ link.title | link_to: link.url }}</li>

          {% if middleFound == false and forloop.index == forloop.rindex0 or forloop.index == oddIndex %}
            </ul><ul>

            {% assign middleFound = true %}
          {% endif %}

        {% endfor %}
      </ul>

    </div>
    {% endif %}

    {% if settings.display-social-module %}
    <div class="connect footer-module">

      {% if settings.social-title.size > 0 %}
      <h4>{{ settings.social-title }}</h4>
      {% endif %}

      {% unless settings.twitter-url.size == 0 and settings.facebook-url.size == 0 and settings.pinterest-url.size == 0 and settings.instagram-url.size == 0 and settings.gplus-url.size == 0 and settings.fancy-url.size == 0 and settings.rss-blog-name.size == 0 %}

      <ul class="social-options clearfix">
        {% if settings.twitter-url.size > 0 %}
          <li class="twitter"><a href="{{ settings.twitter-url }}" target="_blank">&#57600;</a></li>
        {% endif %}
        {% if settings.facebook-url.size > 0 %}
          <li class="facebook"><a href="{{ settings.facebook-url }}" target="_blank">&#57601;</a></li>
        {% endif %}
        {% if settings.pinterest-url.size > 0 %}
          <li class="interest"><a href="{{ settings.pinterest-url }}" target="_blank">&#57602;</a></li>
        {% endif %}
        {% if settings.instagram-url.size > 0 %}
          <li class="instagram"><a href="{{ settings.instagram-url }}" target="_blank">&#57603;</a></li>
        {% endif %}
        {% if settings.gplus-url.size > 0 %}
          <li class="gplus"><a href="{{ settings.gplus-url }}" target="_blank">&#58117;</a></li>
        {% endif %}
        {% if settings.fancy-url.size > 0 %}
          <li class="fancy"><a href="{{ settings.fancy-url }}" target="_blank">&#57604;</a></li>
        {% endif %}
        {% if settings.rss-blog-name.size > 0 %}
          <li class="rss"><a href="/blogs/{{ settings.rss-blog-name }}.atom" target="_blank">&#57605;</a></li>
        {% endif %}
      </ul>

      {% endunless %}

      {% if settings.display-mailing-list %}
        <form action="{{ settings.mailing-list-action-url }}" method="post" name="{% if settings.mailing-list-platform == 'mailchimp' %}mc-embedded-subscribe-form{% endif %}" class="validate mailing-list-signup" target="_blank">

          <input class="submit" name="subscribe" type="submit" value="Subscribe">

          <div class="email-container">
            {% if settings.mailing-list-platform == 'mailchimp' %}
            <input class="email" name="EMAIL" type="email" placeholder="Email address" value="" required>
            {% endif %}

            {% if settings.mailing-list-platform == 'campaign-monitor' %}
            <input id="fieldEmail" class="email" name="{{ settings.campaign-monitor-name }}" type="email" placeholder="Email address" required />
            {% endif %}
          </div>

        </form>
      {% endif %}

    </div>
    {% endif %}

  </footer>
</div>

<div class="copyright-wrap">
<section id="press">
  <h2>Featured on</h2>
  <ul>
    <li id="press-dwell"><a target="_blank" href="http://www.dwell.com/product-day/article/phone-stone-coastermatic">Dwell</a></li>
    <li id="press-gizmodo"><a target="_blank" href="http://gizmodo.com/5919327/get-your-instagram-photos-out-of-the-cloud-and-onto-something-awesome">Gizmodo</a></li>
    <li id="press-swissmiss"><a target="_blank" href="http://www.swiss-miss.com/2012/07/coastermatic.html">Swiss Miss</a></li>
    <li id="press-psfk"><a target="_blank" href="http://www.psfk.com/2012/06/print-instagram-photos-on-coasters.html">PSFK</a></li>
    <li id="press-bigwebshow"><a target="_blank" href="http://5by5.tv/bigwebshow/92">The Big Web Show</a></li>
    <li id="press-mashable"><a target="_blank" href="http://mashable.com/2012/08/16/instagram-pics-coasters/">Mashable</a></li>
    <li id="press-fab"></li>
    <li id="press-techcrunch"><a target="_blank" href="http://techcrunch.com/2012/08/15/coastermatic-turns-your-instagram-pictures-into-coasters/">TechCrunch</a></li>
  </ul>
</section>
  <div class="copyright">
    <p>Copyright &copy; {{ "now" | date: "%Y" }} {{ shop.name }}. Powered by <a href="http://shopify.com/?ref=coastermatic">Shopify</a>.</p>
    <p id="instagram-disclaimer">This product uses the Instagram API but is not endorsed or certified by Instagram. <br />
    {{ pages.privacy-policy.title | link_to: pages.privacy-policy.url }} | {{ pages.terms-conditions.title | link_to: pages.terms-conditions.url }}</p>
  </div>
</div>
