<!-- 
For dev

{{ 'jquery-tmpl.js' | asset_url | script_tag }}
{{ 'json2.js' | asset_url | script_tag }}
{{ 'jquery.sticky.js' | asset_url | script_tag }}
-->

{{ 'select_script_libs.min.js' | asset_url | script_tag }}
{{ 'select_script.js' | asset_url | script_tag }} 

<div id="product" class="{{ product.handle }}">
  
  <div class="row clearfix">
 
   <div class="cm_picker">
    <div id="sticky-anchor"></div>
     <div id="shortlist_container" class="select_view">
        <div id="shortlist" class="circle">
					<h1 id="select-image-count">Select <span>4</span> Images</h1>
					<p id="msg-border">We'll print your photos the same way you see them here. Crop out frames by pressing <span>the crop icon</span>.</p>
          <p id="instagram-logged-in-as"><!-- Show username and logout option --></p>
          <ul>
           	<li class="0 empty"></li>
           	<li class="1 empty"></li>
           	<li class="2 empty"></li>
           	<li class="3 empty"></li>
          </ul>
					<div class="cart-or-crop" style="display: none">
						<h1><a id="add-to-cart" href="#" class="next-step button">Add to cart</a></h1>
					</div>
				</div>
      </div>
  
      <div class="internal-container">
        <!-- Select -->
      	<div id="select" class="select_view">
      		<div id="image_content" class="circle">
            <!--<h1>Select <span>4</span> Images</h1>-->
            <h1 class="loading">Just a tick, loading your images...</h1>
            <div id="images"> <!--<ul> fills with images from instagram </ul>--></div>
            <h1 class="loadingMore"></h1>
      		</div>
      	</div>
	
      </div>

    </div><!-- cm_picker -->
  
  </div>
</div>
<div id="shop-url">{{ shop.url }}</div> {% comment %}necessary to pass liquid variable to javascript{% endcomment %}

<!-- Facebook Conversion Code for Select Page -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6008878755441', {'value':'0.00','currency':'USD'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6008878755441&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>