

{% paginate collection.products by settings.products-per-page %}

  <div class="page-header">
    <h1>{{ collection.title }}</h1>

    {% if settings.display-collection-description and collection.description.size > 0 %}
      <div class="description rte">
      {{ collection.description }}
      </div>
    {% endif %}
  </div>

  <div class="content" role="main">

    {% if collection.all_tags.size > 0 and settings.display-tags-dropdown and collection.handle %}
      <div class="collection-tags filter rows-of-{{ settings.products-per-row }}">
        <label>All tags</label>
        <select class="dropdown">
          <option value="/collections/{{ collection.handle }}/">All tags</option>
          {% for tag in collection.all_tags %}
            {% if current_tags contains tag %}
              <option value="/collections/{{ collection.handle }}/{{ tag | handle }}" selected>{{ tag }}</option>
            {% else %}
              <option value="/collections/{{ collection.handle }}/{{ tag | handle }}">{{ tag }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
    {% endif %}

    <div class="product-listing rows-of-{{ settings.products-per-row }}">
      {% for product in collection.products %}
        {% include 'product-list-item' %}
      {% else %}
        <span class="empty">This collection is empty!</span>
      {% endfor %}
    </div>

    {% if paginate.previous or paginate.next %}
      {% include 'pagination' %}
    {% endif %}

  </div>

{% endpaginate %}

<!-- Facebook Conversion Code for Packaged Sets -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6019068391841', {'value':'0.00','currency':'USD'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6019068391841&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>
