<div class="page-header">
  <h1>{{ settings.cart-page-title }}</h1>
</div>

<div class="cart content" role="main">

{% if cart.item_count > 0 %}

  <form action="/cart" method="post" class="clearfix">

    <table class="cart-products">
      <thead>
        <tr>
          <th class="item">Item</th>
          <th class="price">Price</th>
          <th class="quantity">Quantity</th>
          <th class="total">Total</th>
        </tr>
      </thead>

      <tbody>
        {% for item in cart.items %}
          <tr class="{% include 'for-looper' %} variant-{{ item.variant.id }}">
            <td class="product-item">
              <div class="product-wrap">
                <a class="remove" href="/cart/change/{{ item.variant.id }}?quantity=0" data-variant-id="{{ item.variant.id }}">Remove item from cart</a>
                <a class="cart-thumbnail" href="{{ item.url }}">
                  {% if item.product.images.size > 0 %}
                    {{ item | img_url: 'small' | img_tag }}
                  {% else %}
                    <img class="product-no-images" src="{{ 'no-image.svg' | asset_url }}" alt="No Image Available" />
                  {% endif %}
                </a>
                <div class="cart-details">
                  <span class="vendor">{{ item.vendor | link_to_vendor }}</span>
                  <span class="title">{{ item.product.title | link_to: item.url }}</span>
                  <span class="variant">{{ item.variant.title }}</span>
                </div>
              </div>
            </td>
            <td class="price">{{ item.price | money }}</td>
            <td class="quantity"><input type="text" value="{{ item.quantity }}" data-id="{{ item.variant.id }}"></td>
            <td class="total">{{ item.quantity | times: item.price | money }}</td>
          </tr>
        {% endfor %}
      </tbody>

    </table>

    <div class="cart-tools">

      <div class="instructions">
        <p>Special instructions</p>
        <textarea placeholder="{{ settings.cart-special-instructions }}" name="note">{{ cart.note }}</textarea>
      </div>

      {% if settings.show-shipping-calculator %}
        {% include 'shipping-calculator' %}
      {% endif %}
    </div>

    <div class="cart-totals">
      <p>Your total:</p>
      <p class="price">{{ cart.total_price | money }}</p>
      <p class="message">Not including shipping and taxes</p>
      <input type="submit" name="checkout" value="Check out" />
    </div>

  </form>

{% else %}

  <p class="empty">You don't have any items in your cart yet. <a href="{{ shop.url }}/collections/all">Continue shopping.</a></p>

{% endif %}
</div>